---
---

@import "colors";
@import "utils";
@import "layout";

$contentwidth: 740px;

html {
  margin: 0;
}
body {
  background: $base03;
  color: $base0;
  font-family: 'Palatino', 'Garamond', serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  text-align: justify;
}
hr {
  border-color: $base3;
  margin: 2px auto;
}

/*
 * Header and footer.
 */
@mixin header-heading($font-size) {
  color: $base2;
  font: {
    size: $font-size;
    weight: normal;
  }
  text: {
    align: center;
    decoration: none;
    shadow: 0 0 8px $base3, 0.1em 0.1em 0.1em rgba(0,0,0,0.4);
  }
}
header {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 42px;
  h1, h1 a {
    @include header-heading(48pt);
  }
  h2, h2 a {
    padding-top: 8px;
    @include header-heading(14pt);
  }
}
footer {
  font-size: 12pt;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

/*
 * Headings.
 */
h1, h2, h3, h4 { margin: 0; }
h3 { font-size: 18pt; }
h4 { font-size: 14pt; }

/*
 * Navigation.
 */
nav {
  background: $base1;
  padding: 6pt 0;
  text-align: center;
  a {
    background-color: transparent;
    color: #eee;
    font-size: 14pt;
    padding: 6pt 12pt;
    text-decoration: none;
    &:hover { background-color: $base01; }
  }
}

/*
 * Containers.
 */
#container {
  background: $base3;
}
#content {
  color: $base02;
  margin: 0 auto;
  padding: 8px 0 32px 0;
  width: $contentwidth;
}
.img-container {
  margin: 20px auto;
}

/*
 * Articles.
 */
article {
  margin: 40px 0 16px 0;
}

@mixin hf-color {
  color: $base03;
  a { color: $base03; }
  a:hover { color: $base00; }
}

@mixin content {
  padding-top: 4px;
  h2 { padding-top: 8px; }
  a:link { color: $blue; }
  a:visited { color: $cyan; }
}

.page-header, .post-header {
  @include hf-color;
  height: 100%;
  margin: 20px auto 0px auto;
}

/*
 * Posts.
 */
.post-header {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    padding: 0;
    vertical-align: baseline;
  }
  .title a {
    text-decoration: none;
  }
  .date {
    color: $base00;
    font-style: italic;
    text-align: right;
  }
  .subtitle {
    color: $base02;
    font-style: italic;
  }
}

.post-footer {
  @include hf-color;
  display: inline-block;
  width: 100%;
  .count { float: left; }
  .readmore { float: right; }
}

.post-nav {
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  .prev { float: left; }
  .next { float: right; }
}

.post-content {
  @include content;
  h2 {
    font-size: 14pt;
  }
}

/*
 * Pages.
 */
.page-content {
  @include content;

  h2 {
    color: $base01;
    font-size: 16pt;
  }

  blockquote {
    color: $base01;
    font-size: 16pt;
    font-style: italic;
    margin: 40px auto;
    max-width: 400px;
    position: relative;
    text-align: center;
    width: auto;

    @mixin quote {
      color: $base2;
      display: block;
      font-size: 80px;
      font-family: "Trebuchet MS", sans-serif;
      position: absolute;
    }
    &:before {
      @include quote;
      content: "\201c";
      left: -48px;
      top: -20px;
    }
    &:after {
      @include quote;
      content: "\201d";
      right: -36px;
      bottom: -56px;
    }

    a, a:link, a:visited {
      color: $base01;
    }

    cite {
      display: block;
      font-size: 12pt;
      margin-top: 8px;
      text-align: right;
    }
    cite:before {
      content: "\2014 \2009";
    }
  }
}

/*
 * Selection.
 */
::selection, ::-moz-selection {
  background: $blue;
  color: #fff;
}

/*
 * Canvases.
 */
canvas {
  border: 1px solid;
  display: block;
  margin: 20px auto;
}
