---
---

/* Solarized colorscheme. */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$contentwidth: 800px;

html {
  margin: 0;
}
body {
  background: $base03;
  color: $base0;
  font-family: 'Palatino', 'Garamond', serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  text-align: justify;
}
hr {
  border-color: $base3;
}

/* Header styles. */
header {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 42px;
}
h1, h2, h3, h4 {
  margin: 0;
}
@mixin header-common {
  color: $base2;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 8px $base3, 0.1em 0.1em 0.1em rgba(0,0,0,0.4);
}
h1, h1 a {
  font-size: 48pt;
  @include header-common;
}
h2, h2 a {
  font-size: 14pt;
  padding-top: 8px;
  @include header-common;
}
h3, h3 a {
  font-size: 18pt;
  text-decoration: none;
}
h4, h4 a {
  font-size: 14pt;
}

/* Navigation styles. */
nav {
  background: $base1;
  padding: 6pt 0pt;
  text-align: center;
}
nav a {
  background-color: transparent;
  color: #eee;
  font-size: 14pt;
  padding: 6pt 12pt;
  text-decoration: none;
}
nav a:hover {
  background-color: $base01;
}

/* Content styles. */
#container {
  background: $base3;
}
#content {
  color: $base02;
  margin: 0 auto;
  padding: 8px 0pt 32px 0;
  width: $contentwidth
}

/* Post styles. */
article {
  margin: 40px 0px 16px 0px;
}
.post-header a, .post-footer a {
  color: $base03;
}
.post-header a:hover, .post-footer a:hover {
  color: $base00;
}

.post-header {
  margin: 20px auto;
  height: 100%;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    padding: 0;
    vertical-align: baseline;
  }
  .date {
    color: $base00;
    font-style: italic;
    text-align: right;
  }
  .subtitle {
    color: $base02;
    font-style: italic;
  }
}

.post-footer {
  text-align: right;
  width: 100%;
}

.post-nav {
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

/* Footer styles. */
footer {
  font-size: 12pt;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

/* Woooo purple! */
::selection {
  background: $cyan;
  color: #fff;
}
::-moz-selection {
  background: $cyan;
  color: #fff;
}

canvas {
  border: 1px solid;
  display: block;
  margin: 16px auto;
}
