{%- for post in include.posts %}
<article class="post">
  {% include post/header.html %}
  <section class="post-content">
    {%- capture excerpt -%}
      {%- assign has_excerpt = post.raw_content | has_excerpt -%}
      {%- if has_excerpt -%}
        {%-
          assign stuff = post.raw_content
            | excerpt
            | strip
            | prepend: "&hellip; "
            | markdownify
        -%}
        {%- unless post.keepcase -%}
          {{ stuff | downcase }}
        {%- else -%}
          {{ stuff }}
        {%- endunless -%}
      {%- elsif post.content contains site.excerpt_separator -%}
        {%- unless post.keepcase -%}
          {{ post.excerpt | downcase }}
        {%- else -%}
          {{ post.excerpt }}
        {%- endunless -%}
      {%- else -%}
        {{ post.content }}
      {%- endif -%}
    {%- endcapture %}
    {{ excerpt | indent: 4 | strip }}
  </section>
</article>
{% endfor %}
