<footer role="contentinfo">
  <nav class="footnav">
    <a href="/">&#x22c8;</a>
    {%- for link in site.nav -%}
      {%- if link.tab %}
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
      {%- elsif link.url == page.url %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {%- else %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {%- endif -%}
    {%- endfor %}
  </nav>
  <hr />
  <span class="copyright">
    copyright &copy; {{ site.time | date: "%Y" }} &#183;
    {{ site.author | downcase }}
  </span>
</footer>
