<header role="banner">
  <div>
    <h1><a href="/">mxawng</a></h1>
    <nav role="navigation" id="sitenav">
      <input
        type="checkbox"
        onclick="(() => {
          const overflow = this.checked ? 'hidden' : '';
          document.documentElement.style.overflow = overflow;
          document.body.style.overflow = overflow;
        })();"
      />
      <div></div>
      <span></span>
      <span></span>
      <span></span>
      <ul>
        {%- for link in site.nav %}
        <li {%- if link.url == page.url %} class="here" {%- endif -%}>
          <span>
            <a href="{{ link.url }}"
              {%- if link.tab %} target="_blank" {%- endif -%}
              {%- comment -%} the following must be one-line! {%- endcomment -%}
            >{{ link.name }}</a>
          </span>
          {%- if link.submenu %}
            <ul class="submenu">
              {%- for sublink in link.submenu %}
              <li {%- if sublink.url == page.url %} class="here" {%- endif -%}>
                <span>
                  <a href="{{ sublink.url }}">{{ sublink.name }}</a>
                </span>
              </li>
              {%- endfor %}
            </ul>
          {%- endif %}
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
  <h2>
    {%- if page.subtitle or page.nosubtitle -%}
      {{ page.subtitle }}
    {%- else -%}
      {{ site.subtitle }}
    {%- endif -%}
  </h2>
</header>
