---
title: mxw
---

<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      <article>
        <h3>It's a project!</h3>
        <canvas id="c" class="jsdemo" width="800" height="450">
          Your browser does not support the <code>&lt;canvas&gt;</code> tag!
          Sadface.
        </canvas>
      </article>
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/solarized.js"></script>
  <script type="text/javascript" src="js/canvas.js"></script>
  <script type="text/javascript" src="js/pong.js"></script>
  <noscript>Your browser does not support Javascript!  Sadface.</noscript>
</body>
</html>
