---
title: "Structured and Compressed"
---

<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      {% for post in site.posts %}
        <article>
          <div class="post-header">
            <table>
              <tr>
                <td class="title">
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </td>
                <td class="date">
                  {{ post.date | date: "%A, %B %e, %Y" }}
                </td>
              </tr>
            </table>
          </div>

          <div class="post-content">{{ post.content }}</div>

          <div class="post-footer">
            <a class="count" href="{{ post.url }}#disqus_thread"></a>
          </div>
        </article>
        <hr />
      {% endfor %}
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript" src="/js/disqus-count.js"></script>
</body>
</html>
