/*
 * media.scss - media selectors
 */

$screen-narrow: 480px;
$screen-tablet: 768px;
$screen-normal: 992px;
$screen-wide: 1720px;

@mixin narrow {
  @media only screen and (min-width: $screen-narrow) {
    @content
  }
}
@mixin tablet {
  @media only screen and (min-width: $screen-tablet) {
    @content
  }
}
@mixin desktop {
  @media only screen and (min-width: $screen-normal) {
    @content
  }
}
@mixin wide {
  @media only screen and (min-width: $screen-wide) {
    @content
  }
}
