/*
 * theme utilities
 */

@use 'common/polyfill' as pf;

@mixin link-container($accent-color, $line-weight) {
  transition: color var(--defocus-time);

  &:hover {
    color: $accent-color;

    & > a, & > svg {
      color: $accent-color;
      transition: color var(--focus-time);
    }
  }

  & > a {
    text-decoration: none;

    & > span {
      @include pf.text-decoration(underline, solid, $accent-color, $line-weight);
    }
  }
}
