/**
 * utils.scss - Utility mixins and @extend-only selectors.
 */

/*
 * Non-legacy clearfix.
 *
 * Based on http://nicolasgallagher.com/micro-clearfix-hack/.
 */
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%left-right {
  @include clearfix;
  & > :last-child {
    float: right;
  }
  & > :first-child {
    float: left;
  }
}
