/**
 * utils.scss - Utility mixins and @extend-only selectors.
 */

/*
 * Non-legacy clearfix.
 *
 * Based on http://nicolasgallagher.com/micro-clearfix-hack/.
 */
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%left-right {
  @include clearfix;
  & > :last-child {
    float: right;
  }
  & > :first-child {
    float: left;
  }
}

/**
 * Extendable figure styling.
 */
%content-figure {
  figure {
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    text-align: center;
    img {
      width: 100%;
    }
  }
}
