article {
  margin: 3em 0 1em 0;

  @mixin article-color {
    color: $base03;
    a { color: $base03; }
    a:hover { color: $base00; }
  }

  & > header {
    @include article-color;
    margin: 1.5em auto 0 auto;
    padding-top: 1.5em;
    position: relative;

    .date {
      position: absolute;
      top: 0;
    }

    @include screen-normal {
      display: table;
      padding-top: 0;
      width: 100%;

      .title, .date {
        display: table-cell;
        position: static;
      }
      .subtitle {
        display: table-row;
      }
    }

    time {
      color: $base00;
      font-style: italic;
      text-align: right;
    }
    p {
      color: $base02;
      font: {
        size: 14pt;
        style: italic;
        weight: bold;
      }
      margin: 0;
    }
  }

  & > footer {
    @include article-color;
    .post-nav, .post-links {
      @extend %left-right;
    }
  }

  .post-content {
    text-align: justify;
    h2 { padding-top: 0.3em; }
    a:link { color: $blue; }
    a:visited { color: $cyan; }
  }

  .page-content {
    @extend .post-content;
    h2 {
      color: $base01;
      font-size: 16pt;
    }
  }
}
