article {
  @include rhythm-leader(3);
  &:first-child {
    @include rhythm-leader(2);
  }
  @include rhythm-trailer(2);

  & > header, & > footer {
    color: $base03;
    a {
      color: $base03;
      &:hover { color: $base00; }
    }
  }

  & > header {
    @include rhythm-leader(1, padding);
    position: relative;

    .date {
      position: absolute;
      top: 0;
    }

    @include screen-normal {
      display: table;
      padding-top: 0;
      width: 100%;

      .title, .date {
        display: table-cell;
        position: static;
      }
      .subtitle {
        display: table-row;
      }
    }

    time {
      color: $base00;
      font-style: italic;
      text-align: right;
    }
    p {
      @include rhythm(1.2rem, 1);
      color: $base02;
      font-style: italic;
      margin: 0;
    }
  }

  & > footer {
    @include rhythm-margins();
  }
}

.post-content {
  @include rhythm-border(top);
  text-align: justify;

  & > p:first-child {
    margin-top: 0;
  }

  a:link { color: $blue; }
  a:visited { color: $cyan; }
}

.page-content {
  @extend .post-content;
  h2 {
    color: $base01;
  }
}

.post-nav, .post-links {
  @extend %left-right;
}
