%content {
  @include rhythm-border(top);

  & > p {
    @include screen-narrow {
      text-align: justify;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  a:link { color: $blue; }
  a:visited { color: $cyan; }
}

.post-content {
  @extend %content;

  blockquote {
    font-style: italic;
    text-align: justify;
  }
}

.page-content {
  @extend %content;
  h2 {
    color: $base01;
  }
}
