body > header {
  text-align: center;

  a, a:visited, a:hover {
    color: $base2;
    text-decoration: none;
    text-shadow: 0 0 8px $base3, 0.1em 0.1em 0.1em rgba(0,0,0,0.4);
  }

  h2 {
    margin-top: 0.5em;
  }
}

body > footer {
  text-align: center;
}
