<header role="banner">
  <h1><a href="/">{m x[a}w n g]</a></h1>
  <h2><a href="/">{{ site.subtitle }}</a></h2>
</header>
<nav id="nav" role="navigation">
  <a href="#nav">Navigation &nbsp;&#9662;</a>
  <a href="#!">Navigation &nbsp;<span class="text-flip">&#9662;</span></a>
  <ul>
    {% for link in site.nav %}
      {% if link.tab %}
        <li><a href={{ link.url }} target="_blank">{{ link.name }}</a></li>
      {% else %}
        <li><a href={{ link.url }}>{{ link.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
