---
---

@use 'common/media';
@use 'common/rhythm';
@use 'common/theme';

article {
  @include rhythm.rhythm(1.125rem);
  font-family: 'Avenir', theme.$sans-serif;
  font-weight: 100;
}

.post-content {
  blockquote {
    @include rhythm.rhythm(1rem);
    margin-left: 1rem;

    white-space: nowrap;
    overflow-x: auto;

    @include media.tablet {
      @include rhythm.rhythm(1.125rem);
      margin-left: 4rem;

      white-space: initial;
      overflow-x: initial;
    }

    padding-left: 1rem - rhythm.px-to-rem(2px);
    border-left: solid 2px var(--accent-color);

    font-style: initial;
    text-align: initial;

    & > p:first-child {
      margin-top: 0;
    }
  }
}
