/*
 * <Piccy> photo viewer modal
 */

@use 'common/flex';

$prefix: '' !default;

$pad: 2rem;

.#{$prefix}-viewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $pad;

  z-index: 5; // to go over wireeater hamburger menu

  @include flex.row-center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.69);
}

.#{$prefix}-viewer {
  overflow: auto;
  outline: none;
}

.#{$prefix}-viewer-container {
}

img.#{$prefix}-viewer-img {
  max-width: calc(100vw - 2 * $pad);
  max-height: calc(100vh - 2 * $pad);
  object-fit: scale-down;
}
