---
---

@use 'common/rhythm';

.page-content {
  blockquote {
    @include rhythm.rhythm(1.25rem);
    @include rhythm.margins(2);
    margin-left: auto;
    margin-right: auto;

    color: var(--fg-dark);
    font-style: italic;
    max-width: min(70%, 400px);
    position: relative;
    text-align: center;
    width: auto;

    @mixin quote {
      display: block;
      font-size: 5rem;
      font-family: "Trebuchet MS", sans-serif;
      position: absolute;
    }
    &:before {
      @include quote;
      color: var(--accent-left-alpha);
      content: "\201c";
      left: -48px;
      top: 14px;
    }
    &:after {
      @include quote;
      color: var(--accent-right-alpha);
      content: "\201d";
      right: -38px;
      bottom: -24px;
    }

    cite {
      @include rhythm.rhythm(1rem);
      display: block;
      text-align: right;
      color: var(--fg-dark);
    }
    cite:before {
      content: "\2014 \2009";
    }

    &:hover {
      &:before {
        color: var(--accent-left-lite);
      }
      &:after {
        color: var(--accent-right-lite);
      }
    }

    &:before, &:after, cite {
      transition: color var(--defocus-time);
    }
    &:hover {
      &:before, &:after, cite {
        transition: color var(--focus-time);
      }
    }
  }
}

img.sticker {
  border-radius: 1000px;
  transform: rotate(0deg);
}
