---
---

@use "common/media";
@use "common/rhythm";

#gmail-icon {
  height: 1.25rem;
  vertical-align: text-bottom;
  padding: 0.25rem 0.125rem;
}

ul.contacts {
  list-style-type: none;

  padding-left: 1em;
  @include media.tablet {
    padding-left: 2em;
  }
}

.li-icon {
  @include rhythm.margins(0.5);
  background: {
    position: left 0.25rem;
    repeat: no-repeat;
    size: 22 * rhythm.$px;
  }
  padding-left: 2em;
}

$icons:
  messenger, discord,
  facebook, instagram, twitter,
  github, youtube, twitch, spotify, steam;

@each $icon in $icons {
  .li-icon.#{$icon} {
    background-image: url(/img/icons/#{$icon}.svg);
  }
}

$png-icons: mtg-arena;

@each $icon in $png-icons {
  .li-icon.#{$icon} {
    background-image: url(/img/icons/#{$icon}.png);
  }
}
