---
---

@use 'sass:math';

@use 'common/rhythm';
@use 'base/layout';

figure {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;

  & > a {
    line-height: 0;
  }
}

figcaption {
  @include rhythm.rhythm(1rem);
  flex-basis: 100%;
  padding-left: math.div(layout.$max-width, 5);
  padding-right: math.div(layout.$max-width, 5);
  text-align: center;
  font-style: italic;
}

picture {
  width: math.div(layout.$max-width, 2);
  height: math.div(layout.$max-width, 2);

  & > img {
    width: math.div(layout.$max-width, 2);
    height: math.div(layout.$max-width, 2);
    object-fit: cover;
  }
}
