/**
 * typography.scss - Font selections and typographic defaults.
 */

$serif: 'Palatino', 'Garamond', serif;

body {
  font-family: $serif;
}

/* Headings. */
h1 {
  @include rhythm(2.0rem);
}
h2, section h1 {
  @include rhythm(1.4rem);
}
h3, section h2, section section h1 {
  @include rhythm(1.2rem);
}
h4, section h3, section section h2 {
  @include rhythm(1.0rem);
}
h5, section h4, section section h3 {
  @include rhythm(0.9rem);
}
h6, section h5, section section h4 {
  @include rhythm(0.8rem);
}

h1, h2, h3, h4, h5, h6 {
  a { text-decoration: none; }
}
.subtitle {
  @include rhythm(1.2rem, $lines: 1);
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
