/**
 * utils.scss - Utility layout rules.
 */

/*
 * Flip text upside-down.
 */
.text-flip {
  @include transform(rotate(180deg));
  display: inline-block;
}

/*
 * Equidistant spacing.
 *
 * The left-aligned version is adapted from
 * http://css-tricks.com/equidistant-objects-with-css/.
 */
.equidist-center {
  text-align: center;
  width: 100%;

  & > * {
    @include rhythm-margins();
  }

  @include screen-tablet {
    display: table;
    & > * {
      display: table-cell;
    }
  }
}
.equidist-left {
  font-size: 0.1pt;
  text-align: justify;
  & > * {
    display: inline-block;
  }
}
.equidist-left:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/*
 * Image styling; for use with image-wrapper.js.
 *
 * Rules adapted from http://webdesignerwall.com/tutorials/css3-image-styles.
 * A reasonable image size is assumed.
 */
.image-wrap {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: bottom;
}
.image-wrap:after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-wrap img {
  vertical-align: bottom;
}

%cutout {
  @include box-shadow(
    0 1px 0 rgba(255,255,255,.2),
    inset 0 4px 5px rgba(0,0,0,.6),
    inset 0 1px 0 rgba(0,0,0,.6)
  );
}

.image-wrap.cutout:after, .image-wrap.cutout img {
  @extend %cutout;
  @include border-radius(1000px);
}

.image-wrap.rounded:after, .image-wrap.rounded img {
  @extend %cutout;
  @include border-radius(24px);
}

.image-wrap.morphglow:after, .image-wrap.morphglow img {
  @include transition(1s);
  @include border-radius(20px);
}
.image-wrap.morphglow:hover:after, .image-wrap.morphglow:hover img {
  @include box-shadow(
    0 0 20px rgba(255,255,255,.6),
    inset 0 0 20px rgba(255,255,255,1)
  );
  @include border-radius(1000px);
}
