---
---

@import "common/rhythm";

#gmail-icon {
  height: 16px;
  vertical-align: text-bottom;
  padding: 1px 2px;
}

ul.contacts {
  list-style-type: none;
  padding-left: 2.5em;
}

.li-icon {
  @include rhythm-margins(0.5);
  background: {
    position: left top;
    repeat: no-repeat;
    size: 14pt;
  }
  padding-left: 2em;
}
.li-icon.facebook {
  background-image: url(/img/icons/facebook.png);
}
.li-icon.twitter {
  background-image: url(/img/icons/twitter.png);
}
.li-icon.github {
  background-image: url(/img/icons/github.png);
}
