<!DOCTYPE html>
<html>
<head>
  {% if page.title == 'mxawng' %}
  <title>mxawng</title>
  {% else %}
  <title>mxawng: {{ page.title }}</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  {% for css in page.styles %}
  <link rel="stylesheet" type="text/css" href="/css/{{ css }}.css" />
  {% endfor %}
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% for js in page.scripts %}
  {% if js == 'jquery' %}
  <script
    type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  {% else %}
  <script type="text/javascript" src="/js/{{ js }}.js"></script>
  {% endif %}
  {% endfor %}
</body>
</html>
