<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ site.author }}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <title>{{ site.title }}: {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  {% for css in page.styles %}
  <link rel="stylesheet" type="text/css" href="/css/{{ css }}.css" />
  {% endfor %}
</head>

<body>
  {% include header.html %}

  <div id="container">
    <main role="main" id="content">
      {{ content }}
    </main>
  </div>

  {% include footer.html %}
  {% include js.html %}
</body>
</html>
