<!DOCTYPE html>
<html>
<head>
  <title>mxw: {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      <article>
        <div class="post-header">
          <table>
            <tr>
              <td class="title">
                <h3>{{ page.title }}</h3>
              </td>
              <td class="date">
                {{ page.date | date: "%A, %B %e, %Y" }}
              </td>
            {% if page.subtitle %}
              <tr>
                <td class="subtitle">
                  <h4>&#8213;{{ page.subtitle }}</h4>
                </td>
              </tr>
            {% endif %}
            </tr>
          </table>
        </div>
        <hr />

        <div class="post-content">{{ content }}</div>

        <div class="post-nav">
          {% if page.previous.url %}
            <div class="prev">
              <a href="{{ page.previous.url }}">&larr; prev</a>
            </div>
          {% endif %}
          {% if page.next.url %}
            <div class="next">
              <a href="{{ page.next.url }}">next &rarr;</a>
            </div>
          {% endif %}
        </div>

        <hr />

        {% if page.comments %}
          <br />
          {% include comments.html %}
        {% endif %}
      </article>
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/disqus/scroll.js"></script>
</body>
</html>
