<!DOCTYPE html>
<html>
<head>
  <title>mxw: {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      <article>
        <div class="post-header">
          <h3 class="title">{{ page.title }}</h3>
          <span class="date">
            <i>{{ page.date | date_to_long_string }}</i>
          </span>
        </div>
        {{ content }}
      </article>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
