<!DOCTYPE html>
<html>
<head>
  <title>mxw: {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
  {% include header.html %}

  <div id="container">
    <div id="content">
      <article>
        <div class="post-header">
          <table>
            <tr>
              <td class="title">
                <h3>{{ page.title }}</h3>
              </td>
              <td class="date">
                {{ page.date | date_to_long_string }}
              </td>
            </tr>
          </table>
        </div>

        {{ content }}

        {% if page.comments %}
          <br />
          {% include comments.html %}
        {% endif %}
      </article>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
